doctype html
head
  title
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  //if mso
    xml
      o:officedocumentsettings
        o:pixelsperinch 96
        o:allowpng
  // [if !mso] <!
  link(href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
  // <![endif]
  style.
    * {
    box-sizing: border-box;
    }
    body {
    margin: 0;
    padding: 0;
    }
    th.column {
    padding: 0
    }
    a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: inherit !important;
    }
    #MessageViewBody a {
    color: inherit;
    text-decoration: none;
    }
    p {
    line-height: inherit
    }
    @media (max-width:520px) {
    .row-content {
    width: 100% !important;
    }
    .stack .column {
    width: 100%;
    display: block;
    }
    }
table.nl-container(width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #FFFFFF;')
  tbody
    tr
      td
        table.row.row-1(align='center' width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #c41c5f;' width='500')
                  tbody
                    tr
                      th.column(width='100%' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 5px; padding-bottom: 5px;')
                        table.heading_block(width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                          tr
                            td(style='padding-bottom:5px;padding-top:5px;text-align:center;width:100%;')
                              h1(style='margin: 0; color: #ffffff; direction: ltr; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 20px; font-weight: normal; letter-spacing: normal; line-height: 120%; text-align: center; margin-top: 0; margin-bottom: 0;') Restablece tu contrase&ntilde;a
        table.row.row-2(align='center' width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #f3f3f3;' width='500')
                  tbody
                    tr
                      th.column(width='100%' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-left: 15px; padding-right: 15px; padding-top: 30px; padding-bottom: 30px;')
                        table.heading_block(width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                          tr
                            td(style='text-align:center;width:100%;')
                              h1(style='margin: 0; color: #555555; direction: ltr; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; font-size: 23px; font-weight: normal; letter-spacing: normal; line-height: 120%; text-align: center; margin-top: 0; margin-bottom: 0;')
                                | Si no pediste restablecer tu contrase&ntilde;a, podes ignorar este correo de manera segura. Si fuiste vos, con el siguiente vinculo podes generar una nueva.
                        table.button_block(width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
                          tr
                            td(style='padding-top:20px;text-align:center;')
                              div(align='center')
                                //if mso
                                  v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml' xmlns:w='urn:schemas-microsoft-com:office:word' href='google.com' style='height:42px;width:169px;v-text-anchor:middle;' arcsize='10%' stroke='false' fillcolor='#c41c5f')
                                    w:anchorlock
                                      v:textbox(inset='0px,0px,0px,0px')
                                        center(style='color:#ffffff; font-family:Arial, sans-serif; font-size:16px')
                                a(href=`${link}` target='_blank' style='text-decoration:none;display:inline-block;color:#ffffff;background-color:#c41c5f;border-radius:4px;width:auto;border-top:1px solid #c41c5f;border-right:1px solid #c41c5f;border-bottom:1px solid #c41c5f;border-left:1px solid #c41c5f;padding-top:5px;padding-bottom:5px;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;text-align:center;mso-border-alt:none;word-break:keep-all;')
                                  span(style='padding-left:20px;padding-right:20px;font-size:16px;display:inline-block;letter-spacing:normal;')
                                    span(style='font-size: 16px; margin: 0; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;') Nueva contrase&ntilde;a
                                //if mso
        table.row.row-3(align='center' width='100%' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff;' width='500')
                  tbody
                    tr
                      th.column(width='100%' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 5px; padding-bottom: 5px;')
                        table.text_block(width='100%' border='0' cellpadding='10' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;')
                          tr
                            td
                              div(style='font-family: sans-serif')
                                div(style='font-size: 14px; color: #838383; line-height: 1.2; font-family: Arial, Helvetica Neue, Helvetica, sans-serif;')
                                  p(style='margin: 0; font-size: 12px; text-align: center;')
                                    span(style='font-size:12px;')
                                      | &iquest;Necesitas ayuda? Comunicate con 
                                      a(href='mailto:soporte@tuturno.com.ar' target='_blank' rel='noopener' style='color: #c41c5f;') soporte@tuturno.com.ar
                                  p(style='margin: 0; font-size: 12px; text-align: center;')
                                    span(style='font-size:12px;')
                                      | Enviado por 
                                      a(href='https://tuturno.com.ar' target='_blank' style='text-decoration: none; color: #c41c5f;' rel='noopener') Tuturno
                                    a(href='mailto:soporte@tuturno.com.ar' target='_blank' style='text-decoration: underline; color: #c41c5f;' rel='noopener')
// End
